*{
  scrollbar-width: 5px !important;
  scrollbar-color: #faa805;
}

@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document regexp(".*\.(p|P)(d|D)(f|F)")
{
  div.textLayer
  {
    background-color: rgba(0, 0, 0, 0.25) !important;
    /*     background-color: #010101 !important; */
  }
  div.textLayer {
    opacity: 1 !important;
  }
  div.page > div.textLayer ::selection{
    background: rgba(0, 0, 255, 0.3) !important;
  }
  div.page > div.textLayer .highlight.selected {
    background-color: rgba(0, 255, 0, 0.5) !important;
  }
  div.page > div.textLayer .highlight {
    background-color: rgba(180, 0, 170, 0.5) !important;
  }
};

@-moz-document url-prefix(about:blank), url-prefix(about:newtab) {
  html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
    background: #2e3440 !important;
  }
};


@-moz-document url(about:newtab),
               url(about:home),
               url(about:blank) {
   body{
       /* background-color:#2e3440!important; */
       background-color: #3B4252!important;
       color:#d8dee9!important;
      }
   .card,
   .prefs-pane .sidebar {
      /* background-color:#2e3440!important; */
      background-color: #3B4252!important;

   }
   #snippets,
   .section-title,
   .snippetContainer {
      color: #d8dee9!important;
   }
   .contentSearchSuggestionTable,
   .contentSearchSuggestionsList{
      color:2e3440!important;
   }
   .display-item {color: #d8dee9!important;}
   #aboutMozilla::before {filter:invert(100%)!important;}
   #searchText{
      /* background:#2e3440!important; */
      background: #3B4252!important;
      border-radius: 4px;
      border: 1px solid #2e3440;
      box-shadow: none;
   }
   #searchSubmit,
   #launcher {display:none!important;}
};


